/*npm run dev*/

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
    max-width: 70%; 
    display: flex;
    text-align: center;
    gap: 20px;
    background: #ffe;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  .modalImage {
    width: 300px;
    height: 325px;
    border-radius: 8px;
    padding: 5%;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .modalDivUm{
    text-align: justify;
    padding: 20px;
    margin: 10px;
  }

  .modalActions{
    text-align: justify;
    padding: 20px;
    margin: 10px;
  }

  .deleteButton {
    background-color: rgb(180, 0, 0); /* Vermelho mais vibrante */
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.deleteButton:hover {
    background-color: rgb(200, 50, 50); /* Tom mais claro ao passar o mouse */
    transform: scale(1.05);
}

.deleteButton:active {
    transform: scale(0.95);
}

.editButton {
    background-color: rgb(0, 120, 0); /* Verde mais equilibrado */
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 1em;
    margin-top: 1em;
}

.editButton:hover {
    background-color: rgb(0, 160, 0); /* Tom mais claro ao passar o mouse */
    transform: scale(1.05);
}

.editButton:active {
    transform: scale(0.95);
}
